*{
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
}
.sky{
    background-image: url(Images/background.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.tree{
    background-image: url(Images/trees.png);
    height: 100vh;
    width: 100%;
    background-repeat: cover;
    position: absolute;
    top: 100px;
}

.track{
    background-image: url(Images/track.png);
    height: 60vh;
    width: 100vw;
    background-repeat: repeat-x;
    position:absolute;
    top: 90vh;
    animation: carMove linear .2s infinite;
    
}

.car{
    background-image: url(Images/car_body.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -20vh;
    left: -3%
    animation: linear .2s infinite;
    
}

.wheel1 img {
width: 176px;
left: 131px;
top: 116px;
position: relative;
animation:wheelRotation .7s linear infinite;

}

.wheel2 img{
    width: 179px;
    left: 645px;
    top: -68px;
    position: relative;
    animation:wheelRotation .7s linear infinite;

        
    }

    @keyframes wheelRotation {
     
     100% {
         transform: rotate(360deg);

 
    }


        
    }

    @keyframes carMove {
        100%{
            transform: translateX(-500vw);
        }
    
    }@keyframes shake{
    0%{
        transform: translateY(-4px);
    }

50%{
    transform: translateY(4px);

}

100%{

transform:translateY(-4px);
}
    }